body{
  background-image:url('../images/back.png');
  background-size: 120% auto;
  background-repeat:no-repeat;
  position:static;
  width: 100%;
  margin: 0 auto;
  padding-top: 4em;
}

form{
  width:45%;
  margin-top: -10px;
  margin-left: 700px;
}

li{
  color: DarkOrange;
  text-shadow: DarkOrange 0px 0px 100px;
  display: list-item;
  list-style-type:circle;
  padding-top: 8em;
  margin-left: 5em;
  padding: 1em;
}

#s{
  margin-left:5em;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: Coral;
}

#center{
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: steelblue;
  padding-bottom: 16px;
  margin-top: -440px;
  margin-left: 28.5em;
}

#left{
  text-align: left;
  margin-top: 350px;
  margin: 2%;
  padding-top: 20px;
  font-family: Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: DarkOrange;
  border-style:inset;
  border: 5px solid steelblue;
  border-radius: 15px 15px 15px 15px;
  box-sizing:border-box;
  width: 35%;
}



#title{
  text-align: center;
  padding-top:20px;
  padding-left:700px;
  font-family: Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
  color: Brown;
  padding-bottom: .6em;
  margin-top: -8.5em;
}

#body{
  border-style: inset;
  border: 5px solid steelblue;
  border-radius: 15px 15px 15px 15px;
}

#first_name, #last_name,#email,#phone,#date_of_birth{
  padding-bottom: .3em;
  font-family: Arial, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: DarkOrange;
}

input[type=text]{
  width: 240px;
  height:40px;
  margin: 10px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input[type=email]{
  width: 340px;
  height:40px;
  margin: 8px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input::placeholder{
  color: lightblue;
  font-size: 0.8em;
  font-style: italic;
}

input[type=tel]{
  width: 340px;
  height:40px;
  margin: 8px 0;
  border-radius: 15px 15px 15px 15px;
  background-color: Azure;
  border: solid steelblue;
  font-size: 0.6em;
  font-family: Arial, sans-serif;
}

input[type=submit]{
  padding: 16px 32px;
  text-align: center;
  display: inline-block;
  font-size: 23px;
  margin: 20px 280px;
  background-color: steelblue;
  border-radius: 15px 15px 15px 15px;
  color: Azure;
  border: 2px solid steelblue;
  font-family: Arial, sans-serif;
}

input[type=submit]:hover{
  background-color: DarkOrange;
  color: Azure;
}

@media only screen and (min-width: 320px){
  body{
    background-image:url('../images/back.png');
    background-size: 170% auto;
    background-repeat:no-repeat;
    position:static;
    max-width: 150%;
    max-height: 50%;
    padding-top: 4em;
  }

  .box{
  width: 40%;
  height: 200px;
  }

  img{
  width: 70%;
  height: 100%;
  padding-left: 20px;
  }

  #title{
    text-align: center;
    padding-top: 450px;
    padding-left: 150px;
    font-family: Arial, sans-serif;
    font-size: 2.5em;
    font-weight: bold;
    color: Brown;
    padding-bottom: .6em;
  }

  #body{
    border-style: inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    height: 300px;
    width: 405px;
    margin-top: 20px;
    margin-left: -20em;
  }

  #first_name, #last_name,#email,#phone,#date_of_birth{
    padding-bottom: .3em;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: DarkOrange;
  }

  #left{
    text-align: left;
    margin-top: 35px;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: bold;
    color: DarkOrange;
    border-style:inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    box-sizing:border-box;
    width:  45%;
  }

  #s{
    margin-left:3em;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: Coral;
  }

  #center{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: steelblue;
    padding-bottom: 30px;
    margin-top: -400px;
    margin-left: 18em;
    width: 80%
  }

  input[type=text]{
    width: 250px;
    height:30px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input[type=email]{
    width: 250px;
    height:30px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input::placeholder{
    color: lightblue;
    font-size: 0.8em;
    font-style: italic;
  }

  input[type=tel]{
    width: 250px;
    height:30px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.5em;
    font-family: Arial, sans-serif;
  }

  input[type=submit]{
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 20px -200px;
    background-color: steelblue;
    border-radius: 15px 15px 15px 15px;
    color: Azure;
    border: 2px solid steelblue;
    font-family: Arial, sans-serif;
  }

  input[type=submit]:hover{
    background-color: PaleVioletRed;
    color: Azure;
  }

@media only screen and (min-width: 768px){
  body{
    background-image:url('../images/back.png');
    background-size: 110% auto;
    background-repeat:no-repeat;
    position:static;
    width: 100%;
    padding-top: 4em;
  }

  .box{
  width: 60%;
  height: 200px;
  }

  img{
  width: 60%;
  height: 100%;
  padding-left: 20px;
  }


  #s{
    margin-left:5em;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: Coral;
  }

  #center{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: steelblue;
    padding-bottom: 30px;
    margin-top: -530px;
    margin-left: 33.5em;
    width: 40%;
  }

  #left{
    text-align: left;
    margin-top: 150px;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    color: DarkOrange;
    border-style:inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    box-sizing:border-box;
    width:  35%;
  }



  #title{
    text-align: center;
    padding-top:20px;
    padding-left:150px;
    font-family: Arial, sans-serif;
    font-size: 4em;
    font-weight: bold;
    color: Brown;
    padding-bottom: .6em;
    margin-top: 1.5em;
  }

  #body{
    border-style: inset;
    border: 5px solid steelblue;
    border-radius: 15px 15px 15px 15px;
    height: 500px;
    width: 400px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-left: 10.5em;
  }

  #first_name, #last_name,#email,#phone,#date_of_birth{
    padding-bottom: .3em;
    font-family: Arial, sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: DarkOrange;
    height: 90px;
    width: 400px;

  }
  input[type=text]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input[type=email]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input::placeholder{
    color: lightblue;
    font-size: 0.8em;
    font-style: italic;
  }

  input[type=tel]{
    width: 340px;
    height:40px;
    margin: 8px 0;
    border-radius: 15px 15px 15px 15px;
    background-color: Azure;
    border: solid steelblue;
    font-size: 0.6em;
    font-family: Arial, sans-serif;
  }

  input[type=submit]{
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 23px;
    margin: 20px 300px;
    background-color: steelblue;
    border-radius: 15px 15px 15px 15px;
    color: Azure;
    border: 2px solid steelblue;
    font-family: Arial, sans-serif;
  }

  input[type=submit]:hover{
    background-color: DarkOrange;
    color: Azure;
  }
}
